<h1>Home</h1>
<h2>Now is <%=Time.now%></h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis eum cumque voluptas magnam exercitationem veritatis ad eaque iure, accusamus molestias assumenda facilis distinctio dicta necessitatibus architecto repudiandae animi sapiente pariatur.</p>
<%= link_to "Know more about us", about_path %>
<%= link_to "Meet our team", contact_path %>
